.main {
  max-width: 1920px;
  width: 100%;
  padding: 150px;
  overflow-x: hidden;
}

@media (max-width: 1670px) {
  .main {
    padding: 80px;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 40px;
  }
}